:root {
    --main-bg-color: black;
    --secondary-bg-color: rgb(20, 20, 20);
    --main-fg-color: rgb(0, 255, 0);
    --secondary-fg-color: rgb(170, 255, 170);
    --form-border-size: 7px;
    --form-size: 40vw;
    --form-font-size: 21px;
    --form-height: calc(var(--form-font-size) + (var(--form-border-size) * 4))
}

* {
    font-family: ui-monospace,
        Menlo, Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Mono",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Consolas", "Courier New", monospace;
}

body {
    background-image: linear-gradient(90deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}

p {
    margin: 0px;
    padding: 0px;
}

div.page {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    color: transparent;
    user-select: none;
    background-image: url('logo.svg');
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--form-height) var(--form-height);
    margin: 0;
    min-height: var(--form-height);
    flex: 1;

}

form {
    color: var(--main-bg-color);
    font-size: var(--form-font-size);
    display: flex;
    font-weight: bold;
}

.input_container {
    display: flex;
}

.input_container label {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--main-fg-color);
    padding-left: calc(var(--form-border-size) * 2);
    padding-right: var(--form-border-size);
    user-select: none;
    min-width: calc(var(--form-height) - var(--form-border-size) * 3);
}

input {
    font-size: var(--form-font-size);
    text-transform: uppercase;
    font-weight: bold;
}

input[type="text"],
p.publickey {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    border-style: solid;
    border-width: var(--form-border-size) 0px;
    padding: var(--form-border-size);
    border-color: var(--main-fg-color);
    flex: 1;
    width: var(--form-size);
}

input[type="text"]::placeholder {
    opacity: 50%;
    color: var(--main-fg-color);
}

input[type="text"]:hover,
p.publickey:hover {
    background-color: var(--secondary-bg-color);
}

input[type="submit"] {
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    border: solid var(--form-border-size) var(--main-fg-color);
    border-left: 0px;
    padding-left: var(--form-border-size);
    font-size: 28px;
    line-height: 0px;
    min-width: var(--form-height);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--secondary-fg-color);
}

#download {
    text-align: right;
    flex: 1;
    display: content;
    font-size: calc(var(--form-font-size) / 1.5);
}

#download a {
    color: var(--main-fg-color);
    text-decoration: underline;
}

#download a:hover {
    color: var(--main-bg-color);
    background-color: var(--secondary-fg-color);
}